body{
    background-color: #1c3b7e;
    font-family: 'Pacifico', cursive;
}

.heading{
    text-align: center;
    color: rgb(49, 202, 202);
    margin: 30px;
}

.row{
    width: 100%;
}

.timer{
    color: #fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    border-color: rgb(49, 202, 202);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-play, .fa-redo-alt{
    color: rgb(236, 231, 231);
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
}

.fa-play:hover, .fa-redo-alt:hover{ /* hover es la animacion que pasa cuando se pone el puntero encima del objeto*/
    color: rgb(49, 202, 202);
    border: 2px solid rgb(49, 202, 202);
    transition: 0.5s ease;
}

.modales{
    display:none;
}

#modal footer button {
    background: #28CA97;
    color: white;
    margin: 0;
    border: 0;
    cursor: pointer;
    width: 100%;
}

#modal h3{
    margin:  40px;
    font-family: 'PT Serif', serif;
}

#modal title{
    font-family: 'Pacifico', cursive;
}

.sidebar{
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: -350px;
    width: 350px;
    height: 100%;
    background-color: #1a3670;
    transition: all 0.6s ease;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    text-decoration: none;
    color:rgb(238, 235, 235);
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: 0.6s;
}

.sidebar ul{
    padding: 0px;
}

.sidebar li{
    list-style: none;
    margin: 15px;
}

.sidebar header{
    font-size: 22px;
    text-align: center;
    align-items: center;
    line-height: 70px;
    background-color: #0f244e;
    color:rgb(49, 202, 202);
    user-select: none; 
}

.sidebar ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #displaySideBar, label #closeSideBar{
    position: absolute;
    cursor: pointer;
    background-color: #1a3670;
    border-radius: 3px;
}

label #displaySideBar{
    left: 40px;
    top: 40px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
    transition: all 0.6s ease;
}

label #closeSideBar{
    z-index: 1111;
    left: -300px;
    top: 40px;
    font-size: 30px;
    padding: 4px 9px;
    color: white;
    transition: all 0.6s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #displaySideBar{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #closeSideBar{
    left: 300px;
}